body {
    padding-top: 61px
}

.header_1_1_0 {
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 11;
    width: 100%;
    top: 0;
    background-color: #fff;
    padding: 10px 0
}

.header_1_1_0__main {
    display: none;
    width: 270px;
    background: #fff;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    overflow: auto;
    padding-bottom: 20px
}

.header_1_1_0__main.active {
    display: block;
    animation: animateleft .4s
}

.header_1_1_0__nav {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header_1_1_0__item {
    padding: 9px 12px;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    color: #333;
    font-weight: 600;
    border-top: 1px dotted #ccc
}

.header_1_1_0__logo img {
    width: 192px;
    height: 45px;
    display: block
}

.header_1_1_0__logo2 img {
    display: block;
    max-width: 70%;
    margin: 20px 0 0 60px
}

.header_1_1_0__bg {
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    content: "";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    animation: opac .4s
}

.header_1_1_0__bg.active {
    display: block
}

.header_1_1_0__list {
    list-style: none;
    padding: 0
}

.header_1_1_0__menu {
    padding-right: 8px;
    border-right: 1px solid #eee
}

.header_1_1_0__item.active {
    background-color: #eee
}

.header_1_1_0__phone,
.header_1_1_0__regist {
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 10px;
    justify-content: center
}

.header_1_1_0__phone {
    display: flex;
    background: #dcdcdc;
    cursor: pointer;
    margin: 0 10px 10px 10px
}

.header_1_1_0__phone a {
    color: #194081
}

.header_1_1_0__regist {
    background: #d2322f;
    display: flex
}

.header_1_1_0__regist a {
    color: #fff
}

@media(max-width: 280px) {
    .header_1_1_0 {
        min-width: 280px
    }
    .header_1_1_0__main {
        width: 230px
    }
    .header_1_1_0__logo img {
        height: 35px
    }
}

.screen .container {
    max-width: 428px
}

.screen__reg {
    margin-top: 10px;
    text-align: center
}

.screen__btn {
    background: linear-gradient(to bottom, #eb2c2c 0%, rgba(232, 77, 77, 0.91) 51%, rgb(230, 35, 35) 100%);
    border: 1px solid #fff;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    outline: 0;
    padding: 5px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation
}

.screen__btn:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%
}

@media(max-width: 320px) {
    .screen__btn {
        font-size: 16px
    }
}

.modalProduct .modal-header {
    background: none;
    padding: 0;
    border: none
}

.modalProduct .modal-close {
    font-size: 40px;
    opacity: 1;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    margin: 0 10px
}

.modalProduct .modal-box {
    width: 90%;
    max-width: 480px
}

.modalProduct .modal-body {
    background: linear-gradient(to right, #fff, #d7dffe);
    color: #0e2d70;
    padding: 0 !important;
    border-radius: 10px
}

.modalProduct .modal-main {
    padding: 20px;
    margin: 10px 0
}

.modalProduct .modal-main .line {
    color: red
}

.modalProduct .modal-main p {
    margin: 0
}

@media(max-width: 414px) {
    .modalProduct .modal-main p {
        font-size: 14px
    }
}

.modalProduct .modal-title {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, #f69679, #d2322f);
    padding: 15px;
    border-radius: 10px 10px 0 0
}

.modalProduct .modal-title p {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase
}

.registft {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    left: 0;
    bottom: 0;
    z-index: 4
}

.registft .container {
    display: flex;
    gap: 10px
}

.registft--blue {
    background: #004689;
    box-shadow: 0px 3px 0px 0px #10384a
}

.registft--red {
    background: #e23d3a;
    box-shadow: 0px 2px 0px 0px #8f2725
}

.registft__btn {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    text-transform: uppercase
}

.registft__btn img {
    width: 20px;
    height: 20px;
    margin-right: 5px
}

@media(max-width: 320px) {
    .registft a {
        font-size: 12px
    }
}

.screen1 {
    background: url(../images/page1-bg.jpg) center 0 no-repeat;
    background-size: 428px;
    min-height: 525px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px
}

@media(max-width: 390px) {
    .screen1 {
        background-size: 390px;
        min-height: 475px;
        padding-bottom: 15px
    }
}

@media(max-width: 375px) {
    .screen1 {
        background-size: 375px;
        min-height: 460px
    }
}

@media(max-width: 320px) {
    .screen1 {
        background-size: 320px;
        min-height: 405px
    }
}

@media(max-width: 280px) {
    .screen1 {
        background-size: 280px;
        min-height: 365px
    }
}

.screen2 {
    background: url(../images/page2-bg.jpg) center 0 no-repeat;
    background-size: cover;
    padding: 20px 0
}

.screen2__pic {
    width: 48%
}

.screen2__pic img {
    width: 100%;
    height: auto;
    display: block
}

.screen2__img img {
    width: 100%;
    height: auto;
    display: block
}

.screen2__box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 0
}

.screen2__detail {
    padding: 0 0 15px;
    color: #fff
}

.screen2__title {
    text-align: center;
    background: linear-gradient(to right, rgba(24, 39, 156, 0) 0%, #2032be 51%, rgba(22, 50, 160, 0) 100%);
    margin-bottom: 10px;
    padding: 5px 5px 10px
}

.screen2__title p {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 600
}

.screen2__text ul {
    padding-left: 10px;
    margin: 0;
    line-height: 25px
}

.screen2__text li {
    list-style: none
}

.screen3 {
    padding: 10px 0 20px;
    background-color: #fbfbfb;
    margin: 0 auto
}

.screen3__title {
    width: 100%
}

.screen3__title img {
    width: 100%;
    height: auto
}

.screen3__box {
    margin: 15px auto 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center
}

.screen3__item {
    width: 48%;
    display: block
}

.screen3__item img {
    width: 100%;
    display: block;
    height: auto
}

@media(max-width: 320px) {
    .screen3__title {
        font-size: 18px
    }
}

@media(max-width: 280px) {
    .screen3__title {
        font-size: 16px
    }
}

.screen10 {
    padding: 10px 0 30px 0
}

.screen10__item {
    display: flex;
    align-items: center;
    margin-top: 10px
}

.screen10__card {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    background-color: #004a80;
    color: #fff;
    margin-left: -15px;
    position: relative;
    z-index: -1;
    height: 45px;
    padding-right: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

.screen10__card p {
    width: 45%;
    margin: 0;
    padding-left: 26px;
    font-weight: bold
}

.screen10__card b {
    width: 20%;
    font-size: 24px
}

.screen10__card a {
    width: 35%;
    background-color: #f26c4f;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    color: #fff
}

@media(max-width: 390px) {
    .screen10__card p {
        width: 38%
    }
}

@media(max-width: 375px) {
    .screen10__card p {
        font-size: 13px;
        padding-left: 20px
    }
}

@media(max-width: 320px) {
    .screen10__card b {
        width: 22%;
        font-size: 20px
    }
    .screen10__card a {
        width: 40%
    }
}

@media(max-width: 280px) {
    .screen10__card p {
        width: 43%
    }
    .screen10__card b {
        font-size: 18px
    }
    .screen10__card a {
        width: 35%;
        font-size: 12px
    }
}

.screen4 {
    min-height: 200px;
    padding-top: 50px
}

.screen4.loaded {
    background: url(../images/page4-bg.jpg) center 0 no-repeat
}

.screen4__title {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 10px
}

.screen4__subtitle {
    color: #fff;
    text-align: center;
    font-size: 22px
}

@media(max-width: 375px) {
    .screen4 {
        min-height: 170px
    }
    .screen4.loaded {
        background-size: 100%
    }
}

@media(max-width: 320px) {
    .screen4 {
        min-height: 150px;
        padding-top: 30px
    }
    .screen4__title {
        font-size: 28px
    }
}

@media(max-width: 280px) {
    .screen4 {
        min-height: 130px
    }
    .screen4__title {
        font-size: 22px
    }
}

.screen5 {
    padding: 30px 0;
    background: url(../images/page5-bg.jpg) center 0 no-repeat;
    background-size: cover
}

.screen5__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-align: center
}

.screen5__box {
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between
}

.screen5__item {
    position: relative
}

.screen5__item img {
    width: 100%;
    display: block;
    height: auto
}

.screen5__item p {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background-color: rgba(26, 87, 135, .8);
    margin: 0
}

.screen5__item p br {
    display: none
}

.screen5__list {
    display: flex
}

.screen5__column1 {
    width: 100%
}

.screen5__item2 {
    width: 50%
}

.screen5 .screen__reg {
    padding-top: 5px
}

@media(max-width: 280px) {
    .screen5__title {
        font-size: 20px
    }
    .screen5__item p {
        font-size: 12px
    }
}

.screen6 {
    position: relative
}

.screen6__pic img {
    width: 100%;
    display: block;
    height: auto
}

.screen6 .tns-controls {
    display: none
}

.screen6 .tns-nav>.tns-nav-active {
    background: #2058b7
}

.screen6 .tns-nav>[aria-controls] {
    width: 12px;
    height: 12px
}

.screen6 .tns-nav {
    margin: 0px 0 15px
}

.screen7 {
    min-height: 500px;
    padding-top: 20px
}

.screen7.loaded {
    background: url(../images/page7-bg.jpg) center 0 no-repeat
}

@media(max-width: 390px) {
    .screen7 {
        min-height: 457px
    }
    .screen7.loaded {
        background-size: 100%
    }
}

@media(max-width: 375px) {
    .screen7 {
        min-height: 435px
    }
}

@media(max-width: 360px) {
    .screen7 {
        min-height: 420px
    }
}

@media(max-width: 320px) {
    .screen7 {
        min-height: 375px
    }
}

@media(max-width: 280px) {
    .screen7 {
        min-height: 327px
    }
}

.screen8 {
    background: url(../images/page8-bg.jpg) center 0 no-repeat;
    background-size: cover;
    padding: 50px 0 30px
}

.screen8__detail {
    width: 100%
}

.screen8__form {
    width: 100%;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    border: 2px solid #ff6816;
    text-align: center
}

.screen8__form p {
    text-align: center;
    color: #fff;
    font-size: 20px
}

.screen8__contact {
    width: 100%
}

.screen8__item {
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center
}

.screen8__item hr {
    margin: 0
}

.screen8__content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 30px 5px
}

.screen8__icon {
    width: 30%
}

.screen8__icon img {
    width: 60px;
    height: auto
}

.screen8__des {
    padding: 10px 10px 5px
}

.screen8__title {
    width: 60%;
    margin: 0 auto
}

.screen8__title img {
    width: 100%;
    height: auto
}

.screen8__box {
    color: #fff
}

.screen8__box.loaded {
    animation: fadeInDown 1.5s
}

.screen8__text {
    text-align: center;
    font-weight: 500
}

.screen8__text b {
    font-size: 24px;
    color: #ff6816
}

.screen8__input {
    text-align: center;
    margin-bottom: 10px
}

.screen8__input input {
    width: 100%;
    margin: 0px 0 12px;
    padding: 10px 12px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    border: none
}

.screen8__submit {
    text-align: center;
    margin-top: 10px
}

.screen8 select {
    padding: 2px 0px;
    border-radius: 10px
}

@media(max-width: 375px) {
    .screen8__form {
        padding: 10px
    }
    .screen8__form p {
        font-size: 16px
    }
    .screen8__input input {
        padding: 8px 12px
    }
    .screen8__text b {
        font-size: 21px
    }
}

@media(max-width: 320px) {
    .screen8 input {
        padding: 8px 15px;
        margin: 0px 0 8px
    }
    .screen8__text b {
        font-size: 19px
    }
}

@media(max-width: 280px) {
    .screen8__des {
        font-size: 14px;
        padding: 10px 0px 5px
    }
    .screen8__form i {
        font-size: 13px
    }
    .screen8__form p {
        font-size: 15px
    }
}

.screen9 {
    padding: 5px 0 0 0
}

.screen9__box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 428px;
    margin: 0 auto
}

.screen9__item {
    width: 48%
}

.screen9__item img {
    width: 100%;
    height: auto;
    display: block
}

.screen11 {
    background: url(../images/page11-bg.jpg) center 0 no-repeat;
    min-height: 786px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #d3dce3
}

.screen11__detail {
    padding: 10px 15px
}

.screen11__item {
    margin-bottom: 13px;
    background: linear-gradient(to right, #d94500 0%, #fe4f16 25%, #ff681c 51%, #ff681e 100%);
    border-radius: 50px;
    border: 1px solid #8cc2ff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px
}

.screen11__text {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 70%;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    transition: all .2s linear
}

.screen11__text p {
    font-size: 16px;
    font-weight: 600;
    margin: 0
}

.screen11__text:hover {
    color: #04368d
}

.screen11__des {
    width: 16%;
    font-size: 14px;
    height: 55px;
    background: linear-gradient(to bottom, #04327f 0%, #033895 25%, #033a9d 51%, #033ea8 100%);
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all .2s linear;
    line-height: 20px
}

.screen11__des:hover {
    color: #fd4810;
    border: 1px solid #fff
}

.screen11__hot {
    position: absolute;
    left: -8px;
    top: -25px
}

.screen11__hot img {
    width: 100%;
    height: auto
}

.screen11__item2 {
    position: relative;
    margin-top: 20px
}

@media(max-width: 375px) {
    .screen11 {
        background-size: 375px;
        min-height: 700px
    }
    .screen11__des {
        width: 17%;
        height: 45px;
        line-height: 18px
    }
}

@media(max-width: 320px) {
    .screen11 {
        background-size: 320px;
        min-height: 655px
    }
    .screen11__text {
        font-size: 21px
    }
    .screen11__text p {
        font-size: 14px
    }
}

@media(max-width: 280px) {
    .screen11__text {
        font-size: 19px;
        width: 74%;
        margin-left: 5px
    }
    .screen11__text p {
        font-size: 13px
    }
    .screen11__des {
        width: 20%
    }
}

@keyframes openModalAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20%)
    }
    80% {
        opacity: 1;
        transform: translateY(10%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.pop_callkn_1_2_0 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .7);
    z-index: 11;
    animation: opac .4s
}

.pop_callkn_1_2_0__box {
    position: relative;
    margin-top: 10vh;
    background: #fff;
    max-width: 350px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 10px 20px;
    border-radius: 5px;
    animation: openModalAnimation .4s
}

.pop_callkn_1_2_0__close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    line-height: .9;
    font-weight: 600;
    cursor: pointer
}

.pop_callkn_1_2_0__logo {
    margin: 15px 0
}

.pop_callkn_1_2_0__logo img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto
}

.pop_callkn_1_2_0 .mb {
    margin-bottom: 10px
}

.pop_callkn_1_2_0__form {
    padding: 0 5px
}

.pop_callkn_1_2_0__call {
    display: none
}

.pop_callkn_1_2_0__desc {
    text-align: center;
    margin-bottom: 10px
}

.pop_callkn_1_2_0__click input {
    width: 65%;
    background: #fd4810;
    background: linear-gradient(90deg, rgb(253, 72, 16) 0%, rgb(254, 104, 30) 75%, rgb(255, 114, 0) 100%);
    color: #fff;
    border: none !important;
    cursor: pointer;
    font-size: 14px !important;
    margin: 0px auto 10px;
    display: flex;
    justify-content: center;
    border-radius: 25px !important;
    font-weight: bold
}

@media(max-width: 767px) {
    .pop_callkn_1_2_0__click input {
        width: 100%;
        border-radius: 6px !important
    }
}

.pop_callkn_1_2_0__inputGroup {
    display: flex;
    flex-direction: column
}

.pop_callkn_1_2_0__inputGroup input {
    margin-bottom: 12px;
    font-size: 13px;
    padding: 12px;
    border: 2px solid #a6bcdb;
    border-radius: 6px
}

.pop_callkn_1_2_0__des {
    padding: 0px 20px 10px;
    color: #777;
    font-weight: 600;
    font-size: 14px
}

@media(max-width: 767px) {
    .pop_callkn_1_2_0__des {
        padding: 0
    }
}

.pop_callkn_1_2_0__phone p {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #153d75;
    justify-content: center
}

.pop_callkn_1_2_0__phone span {
    font-size: 20px;
    margin-left: 5px;
    color: #fd4810;
    -webkit-text-decoration: revert;
    text-decoration: revert;
    -webkit-text-decoration: underli;
    text-decoration: underli
}

.pop_callkn_1_2_0__phone img {
    width: 5%;
    margin-right: 5px;
    margin-left: 0 !important
}

.pop_callkn_1_2_0__or {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #5678a8;
    font-weight: 500
}

.pop_callkn_1_2_0__more {
    width: 100%;
    background: #0f93db;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 0px auto 20px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    padding: 8px 12px;
    align-items: center
}

.pop_callkn_1_2_0__more img {
    margin: 0 10px !important;
    width: 8%
}

@media(max-width: 1920px)and (min-width: 768px) {
    .pop_callkn_1_2_0 .mb {
        display: none !important
    }
}

@media(max-width: 767px) {
    .pop_callkn_1_2_0 .pc {
        display: none
    }
}

@media(max-width: 1180px) {
    .pop_callkn_1_2_0__call {
        display: block;
        font-style: italic;
        margin-bottom: 10px;
        padding: 0 5px
    }
    .pop_callkn_1_2_0__call span {
        display: block;
        margin-bottom: 10px;
        color: #666;
        text-align: center
    }
    .pop_callkn_1_2_0__call a {
        background: #ea3b41;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 10px 0;
        border-radius: 4px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 auto;
        font-weight: 600
    }
}

@media(max-width: 767px) {
    .pop_callkn_1_2_0__box {
        width: 90%;
        margin: 10vh auto 0
    }
}

.pop_regkn_1_3_0 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .7);
    z-index: 11;
    animation: opac .4s
}

.pop_regkn_1_3_0__box {
    position: relative;
    margin-top: 10vh;
    background: #fff;
    max-width: 350px;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 5px;
    animation: openModalAnimation .4s
}

.pop_regkn_1_3_0__close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    line-height: .9;
    font-weight: 600;
    cursor: pointer
}

.pop_regkn_1_3_0__logo {
    margin: 15px 0 0
}

.pop_regkn_1_3_0__logo img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto
}

.pop_regkn_1_3_0__inputGroup {
    padding: 15px 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.pop_regkn_1_3_0__inputGroup input {
    width: 100%;
    font-size: 13px;
    padding: 10px 12px;
    border: 2px solid #a6bcdb;
    border-radius: 6px
}

.pop_regkn_1_3_0 .time {
    font-weight: 600;
    text-align: center
}

.pop_regkn_1_3_0__clicknow input {
    width: 60%;
    background: #fd4810;
    background: linear-gradient(90deg, #fd4810 0%, #fe681e 75%, #ff7200 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 0px auto 15px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px
}

.pop_regkn_1_3_0__contact {
    text-align: center;
    color: dimgray;
    font-size: 13px;
    font-style: italic
}

.pop_regkn_1_3_0__contact a {
    color: #cc431d
}

.pop_regkn_1_3_0__des {
    padding: 12px 25px;
    font-size: 17px;
    font-weight: 500;
    color: #153d75;
    text-align: center
}

@media(max-width: 320px) {
    .pop_regkn_1_3_0__des {
        font-size: 14px
    }
}

.pop_regkn_1_3_0__des p {
    margin: 0
}

@media(max-width: 767px) {
    .pop_regkn_1_3_0__box {
        width: 90%;
        margin: 10vh auto 0
    }
}

@media(max-width: 320px) {
    .pop_regkn_1_3_0__inputGroup {
        padding: 15px 10px
    }
}

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: rgba(0, 0, 0, 0);
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

figure {
    margin: 1em 40px
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: bold
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

html,
body {
    font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    line-height: 1.5;
    color: #212529
}

html {
    overflow-x: hidden
}

a {
    text-decoration: none;
    color: #333
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

.w3-serif {
    font-family: serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    margin: 20px 0 10px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

p {
    margin: 0 0 10px
}

button:focus,
input:focus {
    outline: none
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0
}

.table th {
    text-align: left
}

.table th,
.table td {
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table-bordered {
    border: 1px solid #dee2e6
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6
}

.table-striped tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .05)
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.panel {
    padding: .01em 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #eee
}

.thumbPic {
    margin: 0
}

.thumbPic:hover img {
    transition: .3s;
    opacity: .8
}

.thumbPic img {
    line-height: 1;
    max-width: 100%
}

.thumbPic__title {
    padding-top: 10px
}

.breadcrumb {
    width: 100%;
    height: auto;
    background: #47588e;
    padding: 10px 0 10px 20px
}

.breadcrumb a {
    color: #fff
}

.breadcrumb span {
    color: #fff
}

.breadcrumb span:active {
    color: #ffa6a6
}

.navIcon {
    top: 24px;
    right: 20px;
    display: none;
    position: fixed;
    cursor: pointer
}

@media(max-width: 812px) {
    .navIcon {
        display: block
    }
}

.navIcon__line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    transition: .4s
}

.navIcon__line-black {
    background-color: #333
}

.navIcon__line-white {
    background-color: #fff
}

.navIcon.change .navIcon__line-1 {
    transform: rotate(-45deg) translate(-5px, 6px)
}

.navIcon.change .navIcon__line-2 {
    opacity: 0
}

.navIcon.change .navIcon__line-3 {
    transform: rotate(45deg) translate(-5px, -7px)
}

.container-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative
}

@media(min-width: 162px) {
    .container {
        width: 100%
    }
}

@media(min-width: 424px) {
    .container {
        width: 428px
    }
}

@media(min-width: 768px) {
    .container {
        width: 95%
    }
}

@media(min-width: 992px) {
    .container {
        width: 970px
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.block {
    display: block;
    width: 100%
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.list li {
    padding: 8px 16px;
    border-bottom: 1px solid #eee
}

.list li:last-child {
    border-bottom: none
}

.list-lineNone li {
    border-bottom: none
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.border {
    border: 1px solid #ccc
}

.btn,
.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background: #eee
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
}

.media {
    display: flex;
    align-items: flex-start
}

.media img {
    width: 100%
}

.media-body {
    flex: 1;
    padding-left: 20px
}

.media-body-left {
    padding-left: 0;
    padding-right: 20px
}

.iconMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.iconMid i:before {
    margin: 0
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

@media(min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-md-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-md-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-md-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-md-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-md-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-lg-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-lg-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-lg-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-lg-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-lg-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media(min-width: 1200px) {
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-xl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-xl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-xl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-xl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-xl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-xl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-xl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

.flex {
    display: flex
}

.flex-inline {
    display: inline-flex
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-column {
    flex-direction: column
}

.flex-column-reverse {
    flex-direction: column-reverse
}

.flex-fill {
    flex: 1 1 auto
}

.flex-grow {
    flex-grow: 1
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse
}

.justify-content-start {
    justify-content: flex-start
}

.justify-content-end {
    justify-content: flex-end
}

.justify-content-center {
    justify-content: center
}

.justify-content-between {
    justify-content: space-between
}

.justify-content-around {
    justify-content: space-around
}

.align-content-start {
    -ms-flex-line-park: start;
    align-content: flex-start
}

.align-content-end {
    -ms-flex-line-park: end;
    align-content: flex-end
}

.align-content-center {
    -ms-flex-line-park: center;
    align-content: center
}

.align-content-between {
    -ms-flex-line-park: justify;
    align-content: space-between
}

.align-content-around {
    -ms-flex-line-park: distribute;
    align-content: space-around
}

.align-content-stretch {
    -ms-flex-line-park: stretch;
    align-content: stretch
}

.align-items-start {
    align-items: flex-start
}

.align-items-end {
    align-items: flex-end
}

.align-items-center {
    align-items: center
}

.align-items-baseline {
    align-items: baseline
}

.align-items-stretch {
    align-items: stretch
}

.align-self-auto {
    align-self: auto
}

.align-self-start {
    align-self: flex-start
}

.align-self-end {
    align-self: flex-end
}

.align-self-center {
    align-self: center
}

.align-self-baseline {
    align-self: baseline
}

.align-self-stretch {
    align-self: stretch
}

.order-first {
    order: -1
}

.order-last {
    order: 13
}

.order-0 {
    order: 0
}

.order-1 {
    order: 1
}

.order-2 {
    order: 2
}

.order-3 {
    order: 3
}

.order-4 {
    order: 4
}

.order-5 {
    order: 5
}

.order-6 {
    order: 6
}

.order-7 {
    order: 7
}

.order-8 {
    order: 8
}

.order-9 {
    order: 9
}

.order-10 {
    order: 10
}

.order-11 {
    order: 11
}

.order-12 {
    order: 12
}

@media(min-width: 812px) {
    .order-md-first {
        order: -1
    }
    .order-md-last {
        order: 13
    }
    .order-md-0 {
        order: 0
    }
    .order-md-1 {
        order: 1
    }
    .order-md-2 {
        order: 2
    }
    .order-md-3 {
        order: 3
    }
    .order-md-4 {
        order: 4
    }
    .order-md-5 {
        order: 5
    }
    .order-md-6 {
        order: 6
    }
    .order-md-7 {
        order: 7
    }
    .order-md-8 {
        order: 8
    }
    .order-md-9 {
        order: 9
    }
    .order-md-10 {
        order: 10
    }
    .order-md-11 {
        order: 11
    }
    .order-md-12 {
        order: 12
    }
}

@media(min-width: 992px) {
    .order-lg-first {
        order: -1
    }
    .order-lg-last {
        order: 13
    }
    .order-lg-0 {
        order: 0
    }
    .order-lg-1 {
        order: 1
    }
    .order-lg-2 {
        order: 2
    }
    .order-lg-3 {
        order: 3
    }
    .order-lg-4 {
        order: 4
    }
    .order-lg-5 {
        order: 5
    }
    .order-lg-6 {
        order: 6
    }
    .order-lg-7 {
        order: 7
    }
    .order-lg-8 {
        order: 8
    }
    .order-lg-9 {
        order: 9
    }
    .order-lg-10 {
        order: 10
    }
    .order-lg-11 {
        order: 11
    }
    .order-lg-12 {
        order: 12
    }
}

@media(min-width: 1200px) {
    .order-xl-first {
        order: -1
    }
    .order-xl-last {
        order: 13
    }
    .order-xl-0 {
        order: 0
    }
    .order-xl-1 {
        order: 1
    }
    .order-xl-2 {
        order: 2
    }
    .order-xl-3 {
        order: 3
    }
    .order-xl-4 {
        order: 4
    }
    .order-xl-5 {
        order: 5
    }
    .order-xl-6 {
        order: 6
    }
    .order-xl-7 {
        order: 7
    }
    .order-xl-8 {
        order: 8
    }
    .order-xl-9 {
        order: 9
    }
    .order-xl-10 {
        order: 10
    }
    .order-xl-11 {
        order: 11
    }
    .order-xl-12 {
        order: 12
    }
}

.mr-auto {
    margin-right: auto
}

.ml-auto {
    margin-left: auto
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}

.animate-flash {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: flash;
    animation-iteration-count: infinite
}

.animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.animate-opacity {
    animation: opac .8s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.animate-top {
    position: relative;
    animation: animatetop .4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.animate-left {
    position: relative;
    animation: animateleft .4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.animate-right {
    position: relative;
    animation: animateright .4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.animate-bottom {
    position: relative;
    animation: animatebottom .4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.animate-zoom {
    animation: animatezoom .6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.animate-input {
    transition: width .4s ease-in-out
}

.animate-input:focus {
    width: 100% !important
}

.animate-pop {
    animation-name: modalbox;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0, 0, 0.3, 1.6)
}

@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0
    }
    100% {
        top: 0;
        opacity: 1
    }
}

.slide_run {
    visibility: hidden
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeIn.load {
    opacity: 0
}

.fadeIn.loaded {
    animation: fadeIn 1.5s;
    opacity: 1
}

.fadeInUp.load {
    opacity: 0
}

.fadeInUp.loaded {
    animation: fadeInUp 1.5s;
    opacity: 1
}

.fadeInLeft.load {
    opacity: 0
}

.fadeInLeft.loaded {
    animation: fadeInLeft 1.5s;
    opacity: 1
}

.fadeInDown.load {
    opacity: 0
}

.fadeInDown.loaded {
    animation: fadeInDown 1.5s;
    opacity: 1
}

.fadeInRight.load {
    opacity: 0
}

.fadeInRight.loaded {
    animation: fadeInRight 1.5s;
    opacity: 1
}

.bounceInUp {
    animation: bounceInUp 1s
}

.zoomIn.load {
    opacity: 0
}

.zoomIn.loaded {
    animation: zoomIn 1s;
    opacity: 1
}

.shake {
    animation: shake 1s
}

.tns-outer {
    padding: 0 !important
}

.tns-outer [hidden] {
    display: none !important
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
    cursor: pointer
}

.tns-slider {
    transition: all 0s
}

.tns-slider>.tns-item {
    box-sizing: border-box
}

.tns-horizontal.tns-subpixel {
    white-space: nowrap
}

.tns-horizontal.tns-subpixel>.tns-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal
}

.tns-horizontal.tns-no-subpixel:after {
    content: "";
    display: table;
    clear: both
}

.tns-horizontal.tns-no-subpixel>.tns-item {
    float: left
}

.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item {
    margin-right: -100%
}

.tns-no-calc {
    position: relative;
    left: 0
}

.tns-gallery {
    position: relative;
    left: 0;
    min-height: 1px
}

.tns-gallery>.tns-item {
    position: absolute;
    left: -100%;
    transition: transform 0s, opacity 0s
}

.tns-gallery>.tns-slide-active {
    position: relative;
    left: auto !important
}

.tns-gallery>.tns-moving {
    transition: all .25s
}

.tns-autowidth {
    display: inline-block
}

.tns-lazy-img {
    transition: opacity .6s;
    opacity: .6
}

.tns-lazy-img.tns-complete {
    opacity: 1
}

.tns-ah {
    transition: height 0s
}

.tns-ovh {
    overflow: hidden
}

.tns-visually-hidden {
    position: absolute;
    left: -10000em
}

.tns-transparent {
    opacity: 0;
    visibility: hidden
}

.tns-fadeIn {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 0
}

.tns-normal,
.tns-fadeOut {
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1
}

.tns-vpfix {
    white-space: nowrap
}

.tns-vpfix>div,
.tns-vpfix>li {
    display: inline-block
}

.tns-t-subp2 {
    margin: 0 auto;
    width: 310px;
    position: relative;
    height: 10px;
    overflow: hidden
}

.tns-t-ct {
    width: 2333.3333333333%;
    width: 2333.3333333333%;
    position: absolute;
    right: 0
}

.tns-t-ct:after {
    content: "";
    display: table;
    clear: both
}

.tns-t-ct>div {
    width: 1.4285714286%;
    width: 1.4285714286%;
    height: 10px;
    float: left
}

.slideshow {
    position: relative
}

.tns-controls {
    text-align: center;
    margin-bottom: 10px
}

.tns-controls [disabled] {
    color: #999;
    background: #b3b3b3;
    cursor: not-allowed !important
}

.tns-controls [aria-controls] {
    font-size: 15px;
    margin: 0 5px;
    padding: 0 1em;
    height: 2.5em;
    color: #000;
    background: #e8e8e8;
    border-radius: 3px;
    border: 0
}

.tns-controls:focus {
    outline: none
}

.tns-nav {
    text-align: center;
    margin: 10px 0;
    outline: none
}

.tns-nav>[aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0
}

.tns-nav>.tns-nav-active {
    background: #999
}

.slide_thumbNav {
    position: relative
}

.thumbnails {
    margin: 20px 0;
    text-align: center
}

.thumbnails li {
    display: inline-block;
    cursor: pointer;
    border: 5px solid #fff;
    width: 50px
}

.thumbnails .tns-nav-active {
    background: none;
    border-color: #000
}

.thumbnails img {
    vertical-align: bottom;
    height: auto;
    max-height: 50px
}

.slide_dot {
    margin: 20px 0;
    text-align: center
}

.slide_dot li {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #ccc;
    background: none
}

.slide_dot .tns-nav-active {
    border: 2px solid #ccc;
    background: #ccc
}

.controls {
    text-align: center
}

.controls li {
    display: block;
    position: absolute;
    top: 50%;
    height: 60px;
    line-height: 50px;
    margin-top: -30px;
    padding: 0 15px;
    cursor: pointer;
    transition: background .3s;
    font-size: 68px;
    color: #ccc
}

.controls li:focus {
    outline: none
}

.controls li:hover {
    background: rgba(0, 0, 0, .1)
}

.controls li img {
    display: inline-block;
    vertical-align: middle
}

.controls .prev {
    left: 0
}

.controls .next {
    right: 0
}

.accordion {
    margin: 0 auto
}

.accordion-title {
    background: #f5f5f5;
    cursor: pointer;
    display: block;
    border: none;
    padding: 10px;
    width: 100%;
    margin: 1px 0;
    text-align: left
}

.accordion-title:focus {
    border: none;
    outline: none
}

.accordion-title:after {
    content: "+";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px
}

.accordion-title.active:after {
    content: "−"
}

.accordion-content {
    padding: 0 10px;
    height: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all .25s linear
}

.accordions-title {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    margin: 1px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: .4s
}

.accordions-title.active,
.accordions-title:hover {
    background-color: #eee
}

.accordions-title:after {
    content: "−";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px
}

.accordions-title.active:after {
    content: "+"
}

.accordions-content {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out
}

.accordions_lv-title {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 10px;
    margin: 1px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: .4s
}

.accordions_lv-title.active,
.accordions_lv-title:hover {
    background-color: #eee
}

.accordions_lv-title:after,
.accordions_lv-title:before {
    font-size: 22px;
    line-height: 21px
}

.accordions_lv-title:after {
    content: "▸";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px
}

.accordions_lv-title.active:after {
    content: "▾"
}

.accordions_lv-content {
    background-color: #fff;
    display: none;
    overflow: hidden;
    transition: max-height .2s ease-out
}

.modal,
.modal-box {
    z-index: 900
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    overflow: auto;
    animation: opac .3s
}

.modal-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%
}

.modal-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none
}

.modal-close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    float: right;
    cursor: pointer
}

.modal-closePic {
    font-family: Verdana, sans-serif;
    color: #ddd;
    text-shadow: none;
    opacity: 1;
    background: rgba(0, 0, 0, .9);
    transition: .3s;
    width: 44px;
    height: 44px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 901
}

@media(max-width: 414px) {
    .modal-closePic {
        background: rgba(0, 0, 0, .5);
        width: 35px;
        height: 35px;
        font-size: 18px
    }
}

.modal-closePic:hover {
    color: #fff
}

.modal-bg {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .6s
}

.modal-box {
    position: relative;
    width: 50%;
    max-width: 560px;
    margin: 100px auto
}

@media(max-width: 414px) {
    .modal-box {
        margin: 20px auto 0;
        width: 90%
    }
}

.modal-box-video {
    width: 65%;
    max-width: 65%
}

@media(max-width: 414px) {
    .modal-box-video {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 43px 10px
    }
}

.modal-box-img {
    max-width: 90%
}

@media(max-width: 414px) {
    .modal-box-img {
        max-width: 100%;
        width: 100%;
        margin: 0
    }
}

.modal-box-live {
    max-width: 90%;
    width: 267px
}

@media(max-width: 414px) {
    .modal-box-live {
        margin: 50px auto 0
    }
}

.modal-header {
    padding: 10px 20px;
    color: #333;
    background: #fff;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #e9ecef
}

@media(max-width: 414px) {
    .modal-header {
        padding: 10px 20px
    }
}

.modal-title {
    font-size: 20px
}

.modal-body {
    background: #fff;
    padding: 15px 20px;
    line-height: 26px;
    border-radius: 0 0 4px 4px
}

.modal-btn img {
    opacity: 1
}

.modal-btn img:hover {
    opacity: .8;
    transition: opacity .15s linear
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none
}

ul.tabs li {
    cursor: pointer
}

.tab-content {
    display: none;
    padding: 15px
}

.tab-content.current {
    display: inherit
}

.button-1 {
    background: none;
    border: none
}

.button-1 img {
    width: 165px;
    height: auto;
    display: block;
    transition: all .2s linear
}

@media(max-width: 320px) {
    .button-1 img {
        width: 154px
    }
}


/*# sourceMappingURL=style.css.map */